.container {
    padding: var(--l);
    background-color: var(--primary);
}

.title {
    font-family: Josefin Sans;
    font-size: 28pt;
    font-weight: bold;
    color: var(--cream);
}

.linkContainer {
    margin-left: var(--l);
}

.linkContainer a {
    text-decoration: none;
    color: var(--cream);
    padding: var(--s);
}

.linkContainer a:hover {
    opacity: 0.8;
}