.designCover {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: none;
    height: 350px;
    border: 1px solid var(--primary);
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
}

.designBox {
    display: flex;
    width: 80vw;
    margin: auto;
    border: 1px solid var(--primary);
}

.designPreview {
    background-color: var(--primary);
    width: 20vw;
    margin-top: -0.5px;
    margin-left: -0.5px;
    border: 1px solid var(--primary);

    font-size: 15pt;
    font-family: Josefin Sans;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 2vw;
    padding-right: 2vw
}

.designPreview a {
    text-decoration: none;
}

.designText {
    width: 46vw;
    align-items: center;
    font-size: 11pt;
    padding-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: var(--primary);
    text-align: left;
}

.designText a {
    text-decoration: none;
    color: var(--orange);
    padding: 0px 5px;
    background-color: var(--cream);
    line-height: 25px;
}

.designText a:hover {
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--cream);
}

.link:hover  {
    font-weight: bold;
}