h1 {
    font-family: Josefin Sans;
    color: var(--orange);
    font-weight: bold;
    margin: 0px;
}

.subheading {
    color: var(--primary);
    font-size: 11pt;
    font-weight: bold;
    opacity: 0.9;
}

.subheading:hover {
    background-color: var(--cream);
}