/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.headerBlurb {
    width: 80vw;
    margin: auto;
    padding: var(--l);
    font-family: Nunito Sans;
    font-size: 25pt;
    margin-top: 50px;
    color: var(--primary);
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
}

.name {
    background-color: var(--cream);
    padding: 0px var(--s);
}

.name:hover {
    font-weight: bold;
    color: var(--orange);
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.linkBoxContainer {
    display: flex;
    margin: auto;
    width: 70vw;
    text-align: center;
    padding: 50px 0px;
}

.linkBox {
    border: 1px solid var(--orange);
    color: var(--orange);
    background-color: var(--cream);
    margin: auto;
    padding: 2vh 5vw;
    font-weight: bold;
}

.linkBox a {
    text-decoration: none;
    color: var(--orange);
}

.linkBox:hover {
    background-color:#e0c884;
}

.mainBox {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mainFlex {
    display: flex;
}

.flexBox-a {
    width: 25vw;
    font-family: Josefin Sans;
    font-size: 15pt;
    font-weight: bold;
    color: var(--orange);
}

.flexBox-b {
    width: 50vw;
    color: var(--primary);
}

.flexBox-b a {
    text-decoration: none;
    color: var(--orange);
}

.flexBox-b a:hover {
    font-weight: bold;
}

.flexBox-b b {
    color: var(--orange);
    font-family: Josefin Sans;
}

.flexSpan {
    width: 245px;
    display: inline-block;
    font-family: Josefin Sans;
    font-size: 16pt;
    padding: 5px 0px;
}

.flexSpan-full {
    display: inline-block;
    font-family: Josefin Sans;
    font-size: 16pt;
    padding: 5px 0px;
}

.flexSpan:hover {
    font-weight: bold;
    color: var(--orange);
}

.flexSpan-full:hover {
    font-weight: bold;
    color: var(--orange);
}

.footer {
    padding: 5vh 15vw;
    text-align: center;
}

.footer b {
    color: var(--orange);
    font-family: Josefin Sans;
}

.mainBreak {
    border-top: 5px solid var(--orange);
    width: 80vw;
    margin: auto;
}

.highlight:hover {
    color: var(--orange);
}